*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "a b c";
}

.a{
    grid-area: a;
}

.b{
    grid-area: b;
}

.c{
    grid-area: c;
}

.item{
    display: flex;
    margin: 1px;
    background: lightsalmon;
    justify-content: center;
    align-items: center;
}

h1{
    color: red;
}

h2{
    color: royalblue;
}